h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .col-md-7{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
} */

h3 {
    background-color: black;
    opacity: 0.5;
    border-radius: 15px 15px;
}

img {
    border-radius: 20px;
}

.container-fluid {
    padding: 2.5%;
}